#header{
 text-align: center;
 color: #E38E8C;
 height: 80px;
 padding: 15px;
 font-family: sans-serif;
}
#header h1{
 padding: 5px;
}

html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color:#343C44;
}

table {
    border: 5px solid #343C44;
    border-radius: 25px;
    background-color:#E38E8C;
    margin: 0 auto;
    padding: 15px; 
    width: 50%;  
}


table.list{
    width:50%;
    margin-top: 20px;
}

td{
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    color: #343C44;
    font-weight: bold;
}

th{
    text-align: center;
    padding: 5px;
    border:1px solid #E38E8C;
    border-radius: 5px;
    color: white;
}

tr:nth-child(even),table.list thead>tr {
    background-color: #343C44;
    color: 

}

input[type=text], input[type=number] {
    width: 60%;
    padding: 12px 20px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #343C44;
    box-sizing: border-box;
    color: white;
    font-weight: bold;

}


input[type=submit]{
    width: 40%;
    background-color: #343C44;
    color: white;
    padding: 14px 20px;
    margin-right: -110px;
    cursor: pointer;
    font-weight: bold;
    border: 1px solid #E38E8C;
    border-radius: 5px;
    font-weight: bold;

}



form div.submitBtn{
    text-align: center;
}

a{
    cursor: pointer;
    text-decoration: underline;
    color: #0000ee;
    margin-right: 4px;
}

label.validation-error{
    color:   red;
    margin-left: 5px;

}

.hide{
    display:none;
}




/*upload photos*/

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 2px solid #343C44;
    margin-left: 55px;
    width: 60%;
    padding: 12px 20px;
    display: inline-block;
    border-radius: 5px;
    box-sizing: border-box;

}

#title{
    margin-left: 60px;
}
#category{
    margin-left: 30px;
    width: 60%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #343C44;
    box-sizing: border-box;
    color: white ;
    font-weight: bold;
}

#description{
    margin-left: 13px;
    height: 70px;
}
#location{
 margin-left: 30px;

}

#name{
 margin-left: 50px;

}

#phoneNum{
   margin-left: 12px;

  
}

#price{
 margin-left: 55px;

}

form{
    width: 90%
}

label{
   color: #343C44 ;
  font-weight: bold;
  font-size: 18px;

}

#contLabel{
    margin-left:-350px;
}

#contList{
 width: 50%;
 margin-top: 10px;
 margin-left: 180px;
 padding: 5px;
 border: 2px solid #343C44;
 border-radius: 5px;
}

